venv/
.git/
__pycache__/
*.pyc
.env
*.pem
.vscode/
data/
state.json
.python-version
infrastructure/
terraform.tfstate
terraform.tfstate.backup
.terraform/
.pytest_cache/
pip-log.txt

# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing and Linter Caches
.coverage
htmlcov/
.mypy_cache/